/* 通用CSS */
body {
    color: rgb(0, 0, 0);
}

fieldset {
    font-size: 18px;
}

legend {
    font-size: 35px;
    font-weight: 600;
}

.tableContainer {
padding: 30px;
}

.content-container {
    margin:50px 50px 50px 0px;
}

/* allGuide.jsp 樣式 */
.thContent * {
    padding:5px 10px 5px 10px;
    text-align: center;
}

.tdContent * {
    padding:5px 10px 5px 10px;
    text-align: center;
}

.tdContent:hover {
    background-color:  rgb(255, 255, 255) ;
}

#infoBtn {
    height:30px;
    display: flex;
    align-items: center
}

/* guideDetail.jsp 樣式 */
#GIFormContainer1 {
    padding: 20px;
}

#formFieldset {
    background-color: white;
    border-radius: 30px;
    width: 800px;
}

#guideLegend {
    padding-top: 20px;
}

.formLabel {
    background-color: rgb(221, 221, 221);
    border: 5px solid white;
    padding:10px;
}

.formContent {
    background-color: rgb(243, 243, 245);
    border: 5px solid white;
    padding:10px;
}

.btn-container {
    margin-bottom: 30px;

}

.inputBox1 {
margin-top: 5px;
margin-bottom: 5px;
width: 300px;
background-color: transparent;
border: none;
}

.textarea1 {
    margin-top: 5px;
    margin-bottom: 5px;
width: 300px;
height: 80px;
background-color: transparent;
resize:none;
border: none;
}

.inputBoxAdd{
    margin-top: 5px;
    margin-bottom: 5px;
width: 300px;
border: none;
border-radius: 3px;
}

.textareaAdd{
    margin-top: 5px;
    margin-bottom: 5px;
width: 300px;
height: 80px;
resize:none;
border: none;
border-radius: 3px;
}

.GIFLabel {
    margin-top: 5px;
    margin-bottom: 5px;
}

.check {
    font-size: 5px;
    color:gray;
}